:root {
  --brandColor: #2d1ef1;
  --altBrandColor: #ff9e09;
  --mainGray: #ece8dc;
  --mainWhite: #ffffff;
  --mainBlack: #222222;
}

body {
  background: var(--mainWhite);
  color: var(--mainBlack);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}

.text-yellow {
  color: var(--altBrandColor);
}

.cart-icon {
  cursor: pointer;
  color: var(--altBrandColor);
  font-size: 2rem;
}

.default-background,
.about-background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(255, 158, 9, 0.5), rgba(255, 158, 9, 0.5));
  opacity: 1 !important;
  background-position: center;
  background-size: cover;
}

.about-background {
  min-height: 50vh;
}

.btn-yellow {
  color: var(--altBrandColor);
  border-color: var(--altBrandColor);
  transition: all 0.5s ease-in-out;
}

.btn-yellow:hover {
  background: var(--altBrandColor);
  color: var(--mainWhite);
}

.menu,
.contact {
  background: var(--mainGray);
}

.footer {
  background: var(--brandColor);
}
